@*This is partial for the to-do list. Its styled based on the check of isCompleted value*@

@model ToDoApplication.Models.ToDos
@{
    bool isCompleted = (bool)Model.IsCompleted;
}



@if (isCompleted)
{
    <section class="toDo_Card">
        <span class="Desc">@Model.Description</span>
        <span class="compl_Date">(Completed On: @Model.CompletedDate)</span>
    </section>
}

else
{
    <section class="inc_Card">
        <span class="Desc">@Model.Description</span>
        <span class="compl_Date"> (Not Completed)</span>
    </section>
    
}

