@page
@model ToDoApplication.Pages.DisplayToDosModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">All To-Dos</h1>
</div>

@if (Model.toDo.Count != 0)
{
    @foreach (ToDoApplication.Models.ToDos todo in Model.toDo)
    {
        <partial name="_toDoElement" model="todo" />
    }
}