@*_toDoElements partial is used to display the to-do. The home page dispalys only the incomplete To-Dos*@

@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">To-Do Application</h1>
</div>




@if (Model.toDo.Count != 0)
{
    <div class="text-center">
        <h3>Incomplete To-Do</h3>
    </div>
    @foreach (ToDoApplication.Models.ToDos todo in Model.toDo)
    {
        <partial name="_toDoElement" model="todo" />
    }
}

<hr />

@*The below code is for creating a To-do Entry using inline form.*@

<section class="add">
    <div class="text-center">
        <h6>Add a To-Do Here</h6>
    </div>
    <form asp-page="Index" method="post">
        <div>
            <label asp-for="toDoEntry.Description">
            </label>
            <input asp-for="toDoEntry.Description" />
            <span class="message" asp-validation-for="toDoEntry.Description"></span>
        </div>
        <div>
            <label>Is this Completed?</label>
            <input asp-for="toDoEntry.IsCompleted" />
        </div>
        <input type="submit" value="Add this To-Do" />
    </form>
</section>

